extends layout

block content
  h1 About...
  h2 The Game
    small  (You just lost it...)
  p 
    | After Stripe provided us with the amazing Stripe CTF 2.0, we thought 
    | we'd take it to the next level, so we came up with the idea of running this 
    | optimization challenge.
  p We hope you enjoy it! :)
  h2 Us
    small  (We're awesome too)
  .row-fluid
    .span6
      .well.aboutUsBox
        img.avatar(src="http://a0.twimg.com/profile_images/1703110234/Chief_small_reasonably_small.jpg", alt="danopia's avatar")
        h3
          a(href="http://danopia.net") danopia
        p Placeholder text
    .span6
      .well.aboutUsBox
        img.avatar(src="http://a0.twimg.com/profile_images/2284500506/dhtm668sk65fkqmud5az_reasonably_small.jpeg", alt="lukegb's avatar")
        h3
          a(href="http://lukegb.com") lukegb
        p Placeholder text