extends layout

block content
  h1 About...
  h2 The Game
    small  (You just lost it...)
  p 
    | After Stripe provided us with the amazing Stripe CTF 2.0, we thought 
    | we'd take it to the next level, so we came up with the idea of running this 
    | optimization challenge.
  p We hope you enjoy it! :)
  h2 Us
    small  (We're awesome too)
  .row-fluid
    .span6
      .well.aboutUsBox
        img.avatar(src="http://a0.twimg.com/profile_images/1703110234/Chief_small_reasonably_small.jpg", alt="danopia's avatar")
        h3
          a(href="http://danopia.net") Daniel Lamando
        h4 danopia
        p ENOTFOUND, Description not found
    .span6
      .well.aboutUsBox
        img.avatar(src="http://a0.twimg.com/profile_images/2284500506/dhtm668sk65fkqmud5az_reasonably_small.jpeg", alt="lukegb's avatar")
        h3
          a(href="http://lukegb.com") Luke Granger-Brown
        h4 lukegb
        p
          | I'm a 17 year old British student who loves computers, playing the piano and 
          | job opportunities (no, seriously, I'd like a job).
        p
          | My main skills are Python (mostly Django), Go and maybe C at a push, but I used JavaScript 
          | (node.js, Express, MongoJS) for the purposes of this website.