extends layout

block content
  h1 Welcome to the Level8 Scoreboard
  p
    | The Level8 scoreboard displays the fastest times of
    | the competitors competing in the #level8-bonus rounds.
  div.row-fluid
    div.span12.well
      h2 Join us on IRC!
      p
        | You can find us on Stripe's IRC, which is accessible over 
        | SSL at one of:
        ul
          li
            a(href="irc://irc.stripe.com:+6697/level8-bonus") irc://irc.stripe.com:+6697/level8-bonus
          li
            a(href="ircs://irc.stripe.com:6697/level8-bonus") ircs://irc.stripe.com:6697/level8-bonus
          li
            a(href="https://answers.stripe.com/chat#level8-bonus") Stripe Web IRC
  div.row-fluid
    div.span12
      h2 Latest Rounds
      if (pageRounds.length > 0)
        table.roundTable.table
          thead
            tr
              th.when When
              th.competitors Participants
              th.fastestCapture Fastest Capture
              th.status Status
          tbody
            each res in pageRounds
              tr
                td.when
                  a(href="/#{res._id}")= dateFormatter(res.added)
                td.competitors= res.participants.length
                if (res.minCapturer && res.minCapturer.time)
                  td.fastestCapture= res.minCapturer.time/1000
                else
                  td.fastestCapture Not captured
                td.status
                  status = res.status
                  include includes/status_label.jade
      else
        h3 No rounds have been completed yet
