extends layout

block title
  title= "Lvl8 Scoreboard: Round " + dateFormatter(round.added) + " - in progress"

block content
  h1
    | Lvl8 Round Scoreboard: 
    = dateFormatter(round.added)
  p.roundHeader(data-round-id=round._id)
    | This round is 
    status = round.status
    include includes/status_label.jade
    | .
  p 
    | There 
    if (round.participants.length > 1)
      | are 
    else
      | is 
    | #{round.participants.length} 
    if (round.participants.length > 1)
      | participants 
    else
      | participant 
    | this round
    if minCapturer.time
      | , and the flag was first captured in #{minCapturer.time/1000} seconds
    | .
  h2 Leaderboard
  p 
    small If you click on the rows, you can see even more information! :)
  div#roundTable
    participants = round.participants
    include includes/round_table.jade