extends layout

block title
  title= "Lvl8 Scoreboard: Round " + dateFormatter(round.added) + " - completed"
  script var goForIt = true;

block content
  h1
    | Lvl8 Round Scoreboard: 
    = dateFormatter(round.added)
  p
    | This round is 
    status = round.status
    include includes/status_label.jade
    | .
  p 
    | There 
    if (round.participants.length > 1)
      | were 
    else
      | was 
    | #{round.participants.length} 
    if (round.participants.length > 1)
      | participants 
    else
      | participant 
    | this round, and the flag was first captured in #{minCapturer.time} seconds.
  p 
    | The flag was 
    b #{round.flag}.
  h2 Results
  p 
    small If you click on the rows, you can see even more information! :)
  div#roundTable
    participants = round.participants
    include includes/round_table.jade