body {
  padding-top: 50px;
}

/*** RESULTS TABLE ***/
.resultsTable {
	width: 100%;
}

.resultsTable th {
	text-align: left;
}

.resultsTable th:last-child, .resultsTable td:last-child, .chunkBreakdown th:last-child, .chunkBreakdown td:last-child {
	text-align: right;
}

.resultsTable td {
	cursor: pointer;
}

.resultsTable .extraData > td {
	cursor: default;
	text-align: left;
	border-top: 1px solid #eee;
}

.hidden {
	display: none;
}

.has-js .js-hidden {
	display: none;
}

.resultsTable .number {
	width: 50px;
}

.resultsTable .nick {
	width: auto;
}

.resultsTable .seconds {
	width: 150px;
}

.resultsTable .requests {
	width: 150px;
}

.chunkBreakdown {
	list-style-type: none;
}

.aboutUsBox {
	min-height: 90px;
}

.avatar {
	float: right;
	width: 90px;
	height: 90px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #333;
}

.deleted {
	opacity: 0.7;
}

/* display ordered list as comma list */
/** thanks http://petewilliams.info/blog/2010/04/display-html-olul-list-as-comma-separated-sentence/ */
.commaList {
	list-style-type: none;
	font-style: italic;
}

.commaList li {
	display: inline;
}

.commaList li:after{
	content: ',';
	padding-right: 5px;
}

.commaList li:last-child:after {
	content: '';
	padding-right: 0;
	clear: both;
}

/* this prevents single item lists from containing commas and 'ands' */
.commaList li:only-of-type:before, .commaList li:only-of-type:after {
	content: '';
	padding: 0;
}