body {
  padding-top: 50px;
}

/*** RESULTS TABLE ***/
.resultsTable {
	width: 100%;
}

.resultsTable th {
	text-align: left;
}

.resultsTable th:last-child, .resultsTable td:last-child, .chunkBreakdown th:last-child, .chunkBreakdown td:last-child {
	text-align: right;
}

.resultsTable tr {
	/*display: none;*/
}

.resultsTable td {
	cursor: pointer;
}

.resultsTable .extraData > td {
	cursor: default;
	text-align: left;
	border-top: 1px solid #eee;
}

.resultsTable .extraData.hidden {
	display: none;
}

.resultsTable .number {
	width: 50px;
}

.resultsTable .nick {
	width: auto;
}

.resultsTable .seconds {
	width: 150px;
}

.resultsTable .requests {
	width: 150px;
}

.chunkBreakdown {
	list-style-type: none;
}